@using MapWeatherApp.MVC.DTOs
@using MapWeatherApp.MVC.Helper
@model List<WeatherInfo>

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/Map.css" rel="stylesheet" />

<div id="map"></div>

<div id="cityTableContainer">
    <table class="table table-striped table-bordered text-center" id="cityTable">
        <thead>
            <tr>
                <th>Şehir</th>
                <th>Enlem</th>
                <th>Boylam</th>
                <th>Sıcaklık (°C)</th>
                <th>Rüzgar (km/s)</th>
                <th>Nem (%)</th>
                <th>Durum</th>
                <th>Son Güncellenme</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var city in Model)
            {
                <tr>
                    <td>@city.City</td>
                    <td>@city.Latitude</td>
                    <td>@city.Longitude</td>
                    <td>@city.Temperature</td>
                    <td>@city.WindSpeed</td>
                    <td>@city.Humidity</td>
                    <td>@WeatherDataHelper.Translate(city.Condition)</td>
                    <td>@city.Updated.ToString("g")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="module" src="~/js/App.js"></script>