@using MapWeatherApp.MVC.DTOs
@model List<WeatherInfoDto>

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/Map.css" rel="stylesheet" />

<div id="map"></div>

<div id="cityTableContainer">
    <table class="table table-striped table-bordered text-center" id="cityTable">
        <thead>
            <tr>
                <th>Plaka</th>
                <th>Şehir</th>

                <th>Sıcaklık</th>
                <th>Hissedilen</th>

                <th>Nem</th>
                <th>Basınç</th>

                <th>Rüzgar</th>
                <th>Rüzgar Yönü</th>

                <th>Bulut</th>
                <th>Görüş</th>

                <th>Durum</th>

                <th>İkon</th>

                <th>Güncellenme</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var city in Model)
            {
                <tr>
                    <td>
                        @city.PlateCode
                    </td>

                    <td>
                        @city.City
                    </td>

                    <td>
                        @city.Temperature °C
                    </td>

                    <td>
                        @city.FeelsLike °C
                    </td>

                    <td>
                        %@city.Humidity
                    </td>

                    <td>
                        @city.Pressure hPa
                    </td>

                    <td>
                        @city.WindSpeed m/s
                    </td>

                    <td>
                        @city.WindDegree °
                    </td>

                    <td>
                        %@city.Cloudiness
                    </td>

                    <td>
                        @city.Visibility m
                    </td>

                    <td>
                        @city.ConditionDescription
                    </td>

                    <td>
                        <img src="https://openweathermap.org/img/wn/@(city.ConditionIcon)@@2x.png"
                             width="45"
                             height="45" />
                    </td>

                    <td>
                        @city.Updated.ToString("dd.MM.yyyy HH:mm")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="module" src="~/js/App.js"></script>